{% extends 'base.html' %}

{% block content %}
<h1 class="cover-heading">{{ title }}</h1>
<p class="lead">
{% if form != None %}
    <form action="" method="POST"> {% csrf_token %}
    {{ form.as_p }}
</p>
<p class="lead">
    <input class='btn btn-primary' style="width:100px;height:50px;font-weight:bold" type="submit" name="short" value="Shorten" />
</p>
    </form>
{% else %}
    <p class="lead">Invalid URL, Please try again by <a href="">clicking here.</a></p>
{% endif %}
<p class="lead">
    {% if obj != None %}
    <p> Your Url: {{obj.url}}<br/>
    Short Url: <a href="{{ obj.get_short_url }}" target="_blank" style="text-decoration:none">{{ obj.get_short_url }}</a> <br/>
    Stats Url: <a href="{{ obj.get_short_url }}/" target="_blank" style="text-decoration:none">{{ obj.get_short_url }}/</a>
    </p>
    {% endif %}
</p>
{% endblock content %}
    </div>
</div>