{% extends "shortener/base.html" %}
{% block title %}
{{ obj.url }} 
{% endblock title %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='text-center col-sm-12'>
            {% if obj != None %}
            <h3><a href="{{ obj.get_short_url }}" target="_blank" style="text-decoration:none">{{ obj.get_short_url }}</a> - Stats</h3>
            <p> Original Url: {{ obj.url }} </br>
            No of clicks: 
            {% if obj.clickevent.count != None %}
            {{obj.clickevent.count}}
            {% else %} 
            0 
            {% endif %}
            </br></p>
            {% else %}
            <h3> Could not created a valid link. </h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
